{
    "extends": ["next/core-web-vitals", "prettier"],
    "rules": {
        "quotes": ["warn", "single"],
        "@next/next/no-css-tags": "off"
    },
    "ignorePatterns": [
        ".git/**",
        ".husky/**",
        ".next/**",
        "node_modules/**",
        "public/**",
        "out/**",
        "build/**"
    ]
}
