@mixin pop-up-in($duration: 0.16s) {
    animation: popUpIn $duration ease forwards;
    @keyframes popUpIn {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
            transform: translateX(-50%) translateY(-20%);
        }
    }
}

@mixin pop-right-in($duration: 0.16s) {
    animation: popRightIn $duration ease forwards;
    @keyframes popRightIn {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
            transform: translateX(20%) translateY(-50%);
        }
    }
}

@mixin pop-left-in($duration: 0.16s) {
    animation: popLeftIn $duration ease forwards;
    @keyframes popLeftIn {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
            transform: translateX(-20%) translateY(-50%);
        }
    }
}

@mixin pop-down-in($duration: 0.16s) {
    animation: popDownIn $duration ease forwards;
    @keyframes popDownIn {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
            transform: translateX(-50%) translateY(20%);
        }
    }
}

.container {
    display: inline-block;
    position: relative;

    .tooltip {
        position: absolute;
        border-radius: $radius-auto;
        left: 50%;
        transform: translateX(-50%);
        padding: $su-2;
        color: white;
        background: $dark-2;
        font-size: $fs-s;
        font-family: $ff-content;
        line-height: $lh-base;
        z-index: $z-sticky;
        white-space: nowrap;
        $margin: $su-5;

        &[data-position='top'] {
            top: calc($margin * -2);
            @include pop-up-in;
        }

        &[data-position='right'] {
            left: calc(100% + $margin / 8);
            top: 50%;
            transform: translateX(0) translateY(-50%);
            @include pop-right-in;
        }

        &[data-position='bottom'] {
            bottom: calc($margin * -2);
            @include pop-down-in;
        }

        &[data-position='left'] {
            left: auto;
            right: calc(100% + $margin / 6);
            top: 50%;
            transform: translateX(0) translateY(-50%);
            @include pop-left-in;
        }
    }
}
