@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local(''), url('Exo-100-Thin.woff2') format('woff2');
}
@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: local(''), url('Exo-200-ExtraLight.woff2') format('woff2');
}
@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local(''), url('Exo-300-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''), url('Exo-400-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local(''), url('Exo-500-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local(''), url('Exo-600-SemiBold.woff2') format('woff2');
}
@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('Exo-700-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local(''), url('Exo-800-ExtraBold.woff2') format('woff2');
}
@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local(''), url('Exo-900-Black.woff2') format('woff2');
}
