.inputSumbit {
    width: 100%;
    height: $su-8;
    background: $brand-orange;
    color: white;
    margin: 10px 0;
    border-radius: $radius-auto;
    font-family: 'Exo';
    letter-spacing: 0.8px;
    font-size: $fs-base;
    font-weight: 600;
    cursor: pointer;

    @include transition;
    &:hover {
        background: darken($brand-orange, 6%);
    }
    &:active {
        background: lighten($brand-orange, 4%);
    }

    @include phone {
        height: $su-77;
        font-size: $fs-xs;
    }
}
