.header {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: white;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);

    .headerContainer {
        @include container-base(row);

        .headerLogo {
            @include unselectable;
            @include flex-row;
            align-items: center;
            margin-right: 32px;
            cursor: pointer;

            figcaption {
                height: 100%;
                text-align: center;
                margin-left: 8px;
                font-family: 'Exo';
                font-size: $fs-xl;
                font-weight: 700;
            }
        }

        .searchbar {
            @include flex-row;
            height: 40px;
            max-width: 360px;
            width: 100%;
            min-width: 120px;
            margin-right: auto;
            border: $border-thin-darker;
            border-radius: $radius-large-auto;
            overflow: hidden;
            input {
                width: calc(100% - 40px);
                height: 100%;
                background: transparent;
                padding: $su-2;
                font-size: $fs-base;
            }
            button {
                width: 40px;
                height: 100%;
                background: $dark-7;
            }
        }

        .userBlock {
            @include flex-row;
            align-items: center;
            height: 40px;
            margin-left: 20px;

            .createBtn {
                @include unselectable;
                @include grid-center;
                cursor: pointer;
                min-width: 110px;
                height: inherit;
                border: 1px solid $brand-blue;
                border-radius: $radius-large-auto;
                padding: 0 $su-25;
                color: $brand-blue;
                font-weight: 600;
                font-size: $fs-base;
            }

            .headerUser {
                margin-left: 20px;
                cursor: pointer;
            }
        }
    }
}
